<footer class="footer animated fadeIn">
    <div class="footer-content">
        <p>&copy; 2024 Exam Management. All rights reserved.</p>
        <ul class="icons">
            <li><a href="#"><img src="img/thumb-up.png" alt="Facebook"></a></li>
            <li><a href="https://twitter.com/eexam111"><img src="img/twitter.png" alt="Twitter"></a></li>
            <li><a href="https://www.linkedin.com/in/e-exam-exam-4a529a303/"><img src="img/linkedin.png" alt="LinkedIn"></a></li>
            <li><a href="#"><img src="img/instagram.png" alt="Instagram"></a></li>
        </ul>
    </div>
</footer>
