
<header class="header">
    <div class="logo">
        <a href="/student_dashboard"><img src="img/logo.jpg" alt="Logo"></a>
    </div>
    <nav class="header-nav">
        <ul class="header-ul">
            <li><a href="/student_notice">Notice</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/student_mcq">MCQ</a></li>
            <li><a href="/student_guide">Guidelines</a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>    
    </nav>
</header>
