<header class="header animated fadeIn">
    <div class="logo">
        <a href="/"><img src="img/logo.jpg" alt="Logo"></a>
    </div>
    <nav class="header-nav animated fadeIn">
        <ul class="header-ul animated fadeIn">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/student_login">Student Login</a></li>
            <li><a href="/admin_login">Admin Login</a></li>
        </ul>    
    </nav>
</header>
