<h1>Admin Response</h1>
<form action="/admin_guide/<%= request._id %>/reply" method="POST">
    <label for="adminResponse">Admin Response:</label>
    <input type="text" id="adminResponse" name="adminResponse">
    <button type="submit">Send Response</button>
</form>
