
<div class="chat-container"><div id="messages"></div>
<form id="messageForm">
    <input type="text" id="messageInput" placeholder="Type your message">
    <button type="submit">Send</button>
</form></div>



<script src="/socket.io/socket.io.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const socket = io();
        const messages = document.getElementById('messages');
        const messageForm = document.getElementById('messageForm');
        const messageInput = document.getElementById('messageInput');

        messageForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const message = messageInput.value.trim();
            if (message !== '') {
                socket.emit('chat message', message);
                messageInput.value = '';
            }
        });

        socket.on('chat message', (data) => {
    const { username, message } = data;
    const currentUser = '<%= user %>'; // Get the current user's username from the session

    const messageElement = document.createElement('div');
    messageElement.classList.add('chat-message');

    if (username === currentUser) {
        messageElement.classList.add('user-message');
        messageElement.innerHTML = `<span class="username"><strong>${username}:</strong></span> ${message}`;
    } else {
        messageElement.textContent = `${username}: ${message}`;
    }

    messages.appendChild(messageElement);
    messages.scrollTop = messages.scrollHeight; 
});

    });
</script>
