html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-bottom: 100px;
  background-image: linear-gradient(to bottom, #ecf0f1, #81d4f4);
  background-size: cover;
  color: #000;
  overflow-x: hidden;
  box-sizing: inherit;
  padding-bottom: 100px;
}
body * {
  box-sizing: border-box;
}

.header {
  background-color: #34495e;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.header-nav .header-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.header-nav .header-ul li {
  margin-right: 20px;
  position: relative;
  border: none;
  border-radius: 5px;
}
.header-nav .header-ul li:last-child {
  margin-right: 0;
}
.header-nav .header-ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.5s;
}
.header-nav .header-ul li a:hover {
  color: #81d4f4;
}

.footer {
  background-color: #34495e;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 200px;
}

.icons li {
  margin-right: 10px;
}

.icons li:last-child {
  margin-right: 0;
}

.icons li a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.icons li a img:hover {
  transform: scale(1.2);
}

.footer p {
  margin: 0;
}

.footer p a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.5s;
}

.footer p a:hover {
  color: #81d4f4;
}

.section {
  padding: 100px 0;
  text-align: center;
}

.message {
  max-width: 800px;
  margin: 0 auto;
  background-color: #0288d1;
  padding: 20px;
  border-radius: 10px;
}

.message h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}

.slogan {
  font-size: 24px;
  color: #fff;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0;
}

.review-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 20px;
}

.review-slide {
  flex: 0 0 auto;
  width: 300px;
  margin: 0 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.review-slide.active {
  opacity: 1;
}

.review-content {
  background-color: #34495e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
}

.review-content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.signup-container {
  width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.signup-box {
  text-align: center;
}

.signup-box h2 {
  margin-top: 0;
}

.signup-box form label {
  display: block;
  margin-bottom: 5px;
}

.signup-box form input[type=text],
.signup-box form input[type=email],
.signup-box form input[type=password],
.signup-box form input[type=submit] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #0288d1;
  border-radius: 4px;
  box-sizing: border-box;
  color: #0288d1;
}

.signup-box form input[type=submit] {
  background-color: #0288d1;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-box form input[type=submit]:hover {
  background-color: #34495e;
  border-color: #34495e;
}

.link {
  margin-top: 15px;
  color: initial;
  text-decoration: none;
}

.link:hover {
  margin-top: 15px;
  color: #0288d1;
}

.signup-box form input[type=text]:focus,
.signup-box form input[type=email]:focus,
.signup-box form input[type=password]:focus {
  border-color: #34495e;
  outline: none;
  box-shadow: 0 0 2px #34495e;
}

.login-container {
  width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.login-box {
  text-align: center;
}

.login-box h2 {
  margin-top: 0;
}

.login-box form label {
  display: block;
  margin-bottom: 5px;
}

.login-box form input[type=text],
.login-box form input[type=password],
.login-box form input[type=submit] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #0288d1;
  border-radius: 4px;
  box-sizing: border-box;
  color: #0288d1;
}

.login-box form input[type=submit] {
  background-color: #0288d1;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-box form input[type=submit]:hover {
  background-color: #34495e;
  border-color: #34495e;
}

.login-box form input[type=text]:focus,
.login-box form input[type=password]:focus {
  border-color: #34495e;
  outline: none;
  box-shadow: 0 0 2px #34495e;
}

/*# sourceMappingURL=main.css.map */
