<div class="welcome-section animated fadeIn">
    <div class="welcome-message">
        <h1>Username Already Exists</h1>
        <p class="slogan">Please change your Username!!!!</p>
    </div>
</div>